@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
    --greenColor: #2e9e46;
    --redColor: #ee1f29;
    --goldColor: #fece03;
    --textColor: #41505D;
    --mainBgColor: #F2F5F7;
}

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    // background-color: var(--goldColor);
    font-family: 'Roboto', sans-serif;
}
.yellowbg{
    background-color: var(--goldColor);
}
ul{
    margin-bottom: 0 !important;
}
// Media Target <768px
@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .main__menu{
        height: auto;
        &--container {
            width:100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu{
                display: flex;
                align-items: center;
                margin: 5px 0;
                flex-direction: column;
                li{
                    text-align: center;
                    width: 100%;
                    padding: 1em 0;
                    // border-bottom: 1px solid var(--textColor);
                    a{
                        font-size: 1.5em;
                    }
                }
            }
            .open__mobile{
                left: -100%;
            }
            nav{
                //display: block;
                position: absolute;
                width: 100%;
                height: calc(100vh - 105px);
                background-color: #fece03e0;
                top:105px;
                left: 0;
                transition: 0.5s;
            }
            .social__links{
                display: none;
            }
        }
    }
    .mobile__menu{
        &--nav{
            display: block;
            span{
                font-size: 3rem;
            }
        }
    }

    .quicklinks{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
    }
    .statistics{
        &__items{
            flex-direction: column;
            align-items: center;
            li{
                margin: .8em 0;
            }
        }
    }
    .news{
        &__items{
            flex-direction: column;
            align-items: center;
        }
    }
    #popular__form_download{
        flex-direction: column;
        gap: 8px;
    }
    /* Page Layout */
    .page{
        &__layout{
            padding: 1em;
            background-color: #fff;
        }
        &__title{
            padding: 1em;
            background-color: var(--redColor);
            border-radius: 0 25px 0 25px;
            position: absolute;
            max-width: 480px;
            max-height: 120px;
            // bottom: -15px;
            h2{
                font-weight: 500;
                color: #fff;
            }
        }
        &__social{
            position: absolute;
            right: 0;
            // bottom: 5%;
        }
        &__breadcrumbs{
            display: flex;
            li{
                list-style: none;
                margin-right: .8em;
                font-size: .9rem;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        &__social{
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-right: 1em;
                    a{
                        text-decoration: none;
                        color: #fff;
                        img{
                            width: 32px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .banner{
        &__wrapper{
            height: 170px;
            &--main{
                padding: 1em;
                display: flex;
                flex-direction: column;
                height: 90%;
                justify-content: space-between;
            }
        }
        &__content{
            display: flex;
            justify-content: space-between;
        }
    }
    /* End Page Layout */
}

@media screen and (min-width: 769px) {
    .mobile__menu{
        &--nav{
            display: none;
        }
    }
}

.row-ls{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;
}
.sub-row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Section CSS */

.header{
    margin-bottom: 140px;
}
.top__nav{
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #2E9E46;
    &--container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        height: 40px;
        li{
            margin: 0 5px;
            list-style: none;
            a{
                color: #fff;
                text-decoration: none;
                font-weight: 500;
                font-size: .8em;
                display: flex;
            }
        }
    }
    .top__items{
        display: flex;
        justify-content: flex-end;
    }
    .top__contacts{
        ul{
            display: flex;
            li{
                list-style: none;
                color: #fff;
                margin-right: .5em;
                font-size: .9em;
                font-weight: 400;
            }
        }
    }
}
.main__menu{
    //height: 80px;
    position: fixed;
    top: 40px;
    // border-bottom: 1px solid #E5E8EB;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 5px -2px 5px #000;
    &--container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: #000;
            font-size: 1.2em;
            font-weight: 500;
            text-transform: uppercase;
        }
        .dropdown-item{
            text-transform: capitalize;
            font-weight: 400;
            text-align: left;
            &.active{
                background-color: #000;
            }
        }
        .dropdown-menu {
            background-color: var(--goldColor);
        }
        .menu{
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }
    .main__logo{
        padding: 5px;
        img{
            width: 100px;
            height: auto;
        }
    }
}
.header__main{
    &--nav{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a, span{
            text-decoration: none;
            color: #000;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.2em;
            cursor: pointer;
        }
        li{
            list-style: none;
            margin: 0 20px;
        }
        .menu{
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }
}
.sub-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #41505dde;
    width: max-content;
    padding: .3em;
    li{
        margin-left: 0;
        margin-bottom: 1em;
        // border-bottom: 1px solid #fff;
        padding-bottom: .5em;
        &:hover{
            border-bottom: 1px solid #fff;
        }
        a{
            color: #fff;
            text-transform: capitalize;
            font-weight: 300;
        }
    }
}
.menu-item-has-children {
    display: flex;
    align-items: center;
    position: relative;
}
.show{
    display: block;
}


.social__links{
    ul{
        display: flex;
        li{
            list-style: none;
            margin: 0 20px;
        }
    }
    img{
        width: 32px;
        height: 32px;
    }
}
.mobile__menu{
    &--nav{
        border: none;
        border-radius: 0;
        background: none;
        outline: none;
        cursor: pointer;
    }
}
/* End Header Section CSS */

/* Quicklinks Section CSS */
.quicklinks{
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__layout{
        width: 100%;
        max-width: 588px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        // overflow: hidden;
        top: -55px;
        position: relative;
    }
    &__list{
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__link{
        list-style: none;
        a{
            padding: 35px 19px;
            color: var(--textColor);
            display: flex;
            flex-direction: column;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
        h4{
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 1.5px;
            line-height: 1.4;
            margin-top: 3px;
            color: #596066;
        }
        &:nth-child(2){
            border-left: 1px solid #E5E8EB;
            border-right: 1px solid #E5E8EB;
            border-top: none;
        }
        &:hover{
            background-color: #F7F8F8;
        }
    }
    &__image{
        min-width: 70px;
        span{
            font-size: 50px;
            max-width: 100%;
        }
    }
}
.popular__forms{
    &--links{
        padding: 35px 30px 19px 30px;
        h3{
            color: var(--greenColor);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1em;
            margin-bottom: 10px;
        }
    }
}
.select__form{
    &--input{
        width: 340px;
        margin: 0 15px 0 0;
        height: 55px;
        border: 1px solid gainsboro;
        display: flex;
        justify-content: space-between;
        padding: 2px 10px;
        align-items: center;
        cursor: pointer;
        button{
            border: none;
            background: none;
            outline: none;
        }
        .selected__form{
            font-size: 1em;
        }
    }
}

#popular__form_download{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.docdownload{
    height: 55px;
    width: 25%;
    outline: none;
    background-color: var(--goldColor);
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
}
/* End Quicklinks Section CSS */

/* Statistics CSS */
.statistics{
    &__title{
        margin: 0 0 35px 0;
        font-weight: 500;
        text-align: center;
        line-height: 28px;
        color: var(--textColor);
        font-size: 1.5em;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
            text-align: center;
            border-radius: 150px;
            // border: 1px solid #000;
            padding: 50px;
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--greenColor);
            color: #fff;
            gap: 1em;
            box-shadow: 0px 0px 10px #000;
            h3{
                font-size: 3em;
            }
        }
    }
}
/* End Statistics CSS */

/* News Section CSS */
.news{
    &__wrapper{
        padding: 3em 0;
        h4{
            font-size: 1.6em;
            font-weight: 400;
            margin: 1em 0;
        }
        h5{
            font-size: 1.2em;
            font-weight: 600;
            text-transform: uppercase;
            color: #000;
            letter-spacing: 2px;
            text-align: center;
            margin: 1em 0;
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__card{
        background-color: var(--mainBgColor);
        cursor: pointer;
        box-shadow: 0px 0px 3px var(--textColor);
        border-radius: 0px 30px 0 0;
        &--img{
            max-width: 375px;
            max-height: 250px;
            img{
                width: 100%;
                height: auto;
                filter: grayscale(100);
                border-radius: 0px 30px;
                &:hover{
                    filter: grayscale(0);
                    transition: 0.3s ease-in-out;
                }
            }
        }
        a{
            text-decoration: none;
            color: var(--textColor);
        }
        article{
            max-width: 375px;
            // max-height: 540px;
        }
        &--content{
            padding: 10px;
            display: flex;
            flex-direction: column;
            // height: 290px;
            h4{
                margin: .8em 0;
                font-size: 1.3em;
                font-weight: 400;
            }
            p{
                // line-height: 1.4px;
                font-weight: 300;
                font-size: 1em;
            }
        }
    }
}
.readmore__front{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    span{
        padding: 5px;
        border-radius: 50px;
        background-color: var(--redColor);
        color: #fff;
    }
}
/* End News Section CSS */

/*  Posts Layout CSS */
.posts{
    &__layout{
        padding: 1em 2em;
        background-color: var(--mainBgColor);
    }
}
/*  End Posts Layout CSS */

/* Search Layout */
.search{
    &__container{
        padding-top: 5px;
    }
    &__page{
        background-color: var(--mainBgColor);
        padding: 2em .5em;
        margin-top: 10em;
        margin-bottom: 1em;
        h4{
            margin-bottom: 1em;
        }
    }
    &__form{
        display: flex;
        align-items: flex-end;
        label{
            display: none;
        }
        button{
            background: none;
            border: none;
            cursor: pointer;
        }
        input{
            height: 2rem;
            background: none;
            border: none;
            border-bottom: 1px solid #000;
            outline: none;
            width: 100%;
            border-radius: 0%;
        }
    }
    &__wrapper{
        display: flex;
    }
    &__results{
        &--form{
            margin-bottom: 1em;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                padding: 1em;
                margin-bottom: .5em;
                background-color: var(--mainBgColor);
                box-shadow: 0px 0px 5px var(--textColor);
                transition: .2s ease-in;
                &:hover{
                    background-color: var(--redColor);
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .slice__card{
            display: flex;
            align-items: center;
            h5{
                margin: 0 0 0 .2em;
                font-size: 1em;
            }
        }
        article{
            a{
                text-decoration: none;
                color: var(--textColor);
            }
        }
    }
}
/* End Search Layout */

/* Footer CSS */
footer{
    background-color: #000;
}
.footer{
    &__wrapper{
        color: white;
        padding: 2em;
    }
    &__layout{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        flex-wrap: wrap;
    }
    &__newsletter{
        h2{
            font-weight: 300;
            margin-bottom: .5em;
            &::after{
                content: '';
                width: 15%;
                border-bottom: 5px solid var(--goldColor);
                display: block;
                margin-top: 5px;
            }
        }
    }
    &__menu{
        display: flex;
        justify-content: center;
    }
    &__logo{
        display: flex;
        justify-content: flex-end;
    }
    &__nav{
        li{
            list-style: none;
            padding: .3em 0;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    &--item{
        flex-grow: 1;
        width: 300px;
    }
}
.email{
    &__sub{
        &--desc{
            p{
                margin-bottom: 5px;
            }
        }
    }
    &__form{
        &--input{
            display: flex;
            input{
                padding: .5em 1em;
                outline: none;
                border: 0.0625rem solid var(--goldColor);
                border-radius: 62.5rem 0 0 62.5rem;
                width: 60%;
                background-color: var(--textColor);
                color: #fff;
                height: 2.625rem;
            }
            button{
                border-radius: 0 62.5rem 62.5rem 0;
                background-color: var(--goldColor);
                color: #000;
                height: 2.625rem;
                border: 0.0625rem solid var(--goldColor);
                padding: 0 1.25rem;
                cursor: pointer;
            }
        }
    }
}
.copyright{
    width: 100%;
    color: #fff;
    padding: 1em 0;
    background-color: var(--textColor);
    h5{
        text-align: center;
        font-weight: 300;
        font-size: .9em;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
}
/* End Footer CSS */

/* Page Layout */
.page{
    &__breadcrumbs{
        display: flex;
        li{
            list-style: none;
            margin:.8em .8em 0 0;
            font-size: .9rem;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    &__social{
        position: absolute;
        font-size: 12px;
        bottom: 30px;
        right: 0;
        margin-top: 0;
        ul{
            display: flex;
            li{
                list-style: none;
                margin-right: 1em;
                a{
                    color: #fff;
                    img{
                        width: 32px;
                        height: auto;
                    }
                }
            }
        }
    }
    &__title{
        background-color: var(--redColor);
        bottom: -40px;
        min-height: 160px;
        max-width: 40%;
        line-height: 38px;
        padding: 40px 78px 44px 78px;
        border-radius: 0 45px 0 45px;
        position: absolute;
        h2{
            font-weight: 600;
            color: #fff;
            font-size: 2em;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    &__layout{
        display: flex;
        margin-bottom: 1em;
        strong{
            font-size: 1.1em;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    &__sidebar{
        width: 100%;
        max-width: 250px;
        ul{
            li{
                list-style: disclosure-closed;
                margin-bottom: 5px;
                padding: 8px 0;
                border-top: 1px solid #E5E8EB;
                &:first-child{
                    border: none;
                }
                a{
                    text-decoration: none;
                    color: #000;
                    padding: .5em 0;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        h4{
            text-transform: uppercase;
            font-weight: 600;
            color: var(--textColor);
            padding: 1em 0;
            &::after{
                content: '';
                width: 10%;
                border-bottom: 5px solid var(--goldColor);
                display: block;
                margin-top: 5px;
            }
        }
    }
    &__content{
        color: var(--textColor);
        padding: 1em 2em;
        margin-left: 1em;
        background-color: var(--mainBgColor);
        width: 100%;
        p{
            line-height: 28px;
            font-size: 1em;
            margin: 1em 0;
        }
        ol,ul{
            li{
                line-height: 1.8;
            }
        }
    }
    &__right{
        &--content{
            display: flex;
            flex-direction: column;
        }
    }
}
.banner{
    &__wrapper{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 230px;
        margin-bottom: 50px;
        background-color: var(--greenColor);
        &--main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-height: 100%;
            height: 100%;
        }
    }
    &__content{
        width: 100%;
        height: 100%;
        position: relative;
    }

}

/* End Page Layout */

/* FAQs Layout */
.faqs__wrapper{
    li{
        list-style: none;
        background-color: var(--textColor);
        padding: 1em;
        margin-bottom: .5em;
        border-radius: 5px;
        a{
            color: #fff;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        span{
            color: #fff;
        }
        &:hover{
            background-color: var(--greenColor);
        }
    }
}

/* Comments Section */
.comments{
    &__section{
        color: var(--textColor);
        padding: 1em 2em;
        margin-left: 1em;
        margin-top: 1em;
        background-color: var(--greenColor);
        border-radius: 5px;
        color: #fff;
        width: 100%;
        h4{
            &::after{
                content: "";
                width: 5%;
                border-bottom: 5px solid var(--goldColor);
                display: block;
                margin-top: 5px;
            }
        }
    }
}
.comments-area{
    border-top: 5px solid var(--goldColor);
    input, textarea{
        width: 100%;
        padding: 1em;
        margin-top: 1em;
        border-radius: 5px;
        border: none;
        outline: none;
    }
}
.comment-list{
    list-style: none;
    .children{
        list-style: none;
        margin-left: 2em;
    }
    footer{
        background: none;
    }
    .reply{
        display: block;
        text-align: right;
        border-top: 3px solid var(--mainBgColor);
        padding: .5em 0;
        a{
            text-decoration: none;
            color: var(--goldColor);
        }
    }
}
.comments-title{
    margin: 1em 0;
    font-weight: 400;
    font-size: 1.2em;
}
.comment-meta{
    background: none;
}
.comment-author{
    display: flex;
    align-items: center;
    background-color: var(--goldColor);
    height: 3em;
    border-radius: 30px 5px 5px 30px;
    color: var(--textColor);
    .fn{
        margin: 0 .5em;
        a{
            text-decoration: none;
            color: var(--textColor);
        }
    }
    img{
        border-radius: 50px;
    }
}
.comment-metadata{
    a{
        text-align: right;
        color: var(--mainBgColor);
        display: block;
        text-decoration: none;
        font-size: .8em;
        font-style: italic;
    }
}
.comment-content{
    margin: 1em 0;
    p{
        font-size: 1.2em;
        font-weight: 300;
    }
}
.feedback{
    &__submit{
        padding: 1em;
        width: 100%;
        background-color: var(--textColor);
        color: #fff;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        font-size: 1em;
        font-weight: 600;
        // transition: .3s ease-in-out;
        &:hover{
            background-color: var(--redColor);
        }
    }
}

.comment-form-cookies-consent{
    display: none;
}
/* End Comments Section */

/* Documents Page Template */
.doc{
    &__lists{
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            list-style: none;
        }
    }
    &__item{
        max-width: 200px;
        width: 100%;
        background-color: var(--goldColor);
        &--icon{
            background-color: #fff;
            text-align: center;
            span{
                font-size: 8em;
                font-weight: 400;
            }
        }
        &--excerpt{
            padding: .5em;
        }
    }
    &__download{
        &--button{
            button{
                width: 100%;
                border: none;
                background-color: var(--textColor);
                color: #fff;
                display: flex;
                justify-content: center;
                padding: .3em;
                &:hover{
                    background-color: #000;
                }
            }
        }
    }
}
/* End Documents Page Template */